# Ignore node modules (to be installed inside the container)
node_modules
dist
build

# Ignore local environment configuration
#.env
#.env.local
#.env.*.local

# Ignore logs
logs
*.log

# Ignore MacOS specific files
.DS_Store

# Ignore Docker-specific files
docker-compose.yml
Dockerfile

# Ignore other unnecessary files
*.md
.git
.gitignore
.vscode
.idea
test
coverage
